.a-section1-div1 {
    background-image: url(../../assets/images/first-bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 73vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-btn {
    font-size: 60px;
    color: #C3F3F3;
    background-color: #01AEE7;
    border: none;
    rotate: 90deg;
    padding: 13px 20px;
    border-radius: 50%;
}

.a-section1-div1-h1 {
    padding-top: 34px;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    max-width: 861px;
}

.a-section1-div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #01AEE7;
    gap: 20px;
    color: white;
    padding: 48px 0px;
}

.a-section1-div2-h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    max-width: 893px;
}

.banner {
    max-width: 1241px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: #fff;
    position: relative;
    overflow: hidden;
    position: relative;
}

.banner-text {
    max-width: 45%;
}

.banner-text h1 {
    max-width: 140px;
    text-align: left;
    font-size: 48px;
    margin-bottom: 15px;
    line-height: 1.2;
}

.bold {
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
}

.blue {
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #01AEE7;
}

.line {
    width: 105px;
    height: 4px;
    background-color: #ffeb3b;
    margin: 10px 0 20px 0;
}

.banner-text p {
    font-size: 18px;
    font-weight: 600;
    color: #111;
    line-height: 1.6;
    margin-bottom: 25px;
}

.cardio-link {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #01AEE7;
}

.cardio-link span {
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #01AEE7;
}

.cardio-link:hover {
    text-decoration: underline;
}


.dots {
    margin-top: 10px;
    position: absolute;
    bottom: 100px;
    left: 45%;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    background-color: #ccc;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.dot.active {
    background-color: #ffeb3b;
}

/* Rasm qismi */
.banner-img {
    max-width: 50%;
    position: relative;
    z-index: 2;
}

.banner-img img {
    width: 100%;
    max-width: 480px;
    transform: rotate(-1deg);
}