.sectioncomponent3-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.topic-class {
    max-width: 185px;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: black;
}

.data-class {
    max-width: 245px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: lowercase;
}

@media (max-width: 1024px) {
    .zb-img {
        width: 50px;
    }

    .topic-class {
        font-size: 16px;
    }

    .data-class {
        font-size: 12px;
        width: 200px;
    }
}

@media (max-width: 768px) {
    .zb-img {
        width: 20px;
    }

    .sectioncomponent3-div {
        max-width: 30px;
    }
    .topic-class {
        font-size: 10px;
    }
      .data-class{
        font-size: 9px;
        max-width: 100px;
      }

}